@charset "UTF-8";
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
	-webkit-box-shadow: 0px 0px #F50004;
	box-shadow: 0px 0px #F50004;
	color: #FFFFFF;
	text-shadow: 0px 0px #FFFFFF;
}
.container-fluid .container .img-fluid {
	margin-top: 11px;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
	color: #FFFFFF;
}
.container-fluid .container .btn.btn-primary {
}
.nav-item.active .nav-link strong {
	color: #FFFFFF;
}
.nav-item .nav-link strong {
	color: #F6F6F6;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
	-webkit-box-shadow: 0 0px #0600FF;
	box-shadow: 0 0px #0600FF;
	border-radius: 0px;
	color: #211562;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: #211562;
	background-image: -webkit-linear-gradient(270deg,rgba(24,14,77,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(24,14,77,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(24,14,77,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(24,14,77,1.00) 100%,rgba(255,0,0,1.00) 100%);
	margin-top: 6px;
	border-width: 0px;
}
.container-fluid .container .btn.btn-primary {
	right: -4px;
	height: auto;
}
.container .list-unstyled .badge.badge-primary {
	min-height: 46px;
	width: 225px;
}
.container .list-unstyled .badge.badge-success {
	width: 225px;
	height: 45px;
}
.container .list-unstyled .badge.badge-warning {
	height: 45px;
	width: 221px;
	background-color: #000000;
	color: #EEEEEE;
	margin-bottom: 0px;
	top: 3px;
}
.card.col-md-4 .card-body .btn.btn-primary {
	margin-top: 68px;
	margin-right: 68px;
	margin-bottom: 68px;
	margin-left: 68px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 6px;
	top: -16px;
	right: -6px;
	border-radius: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.container .row #submit {
	right: 101px;
	left: 40px;
	padding-right: 13px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
.container-fluid .container #submit {
	padding-top: 0px;
	top: 29px;
	right: 22px;
}
.card.col-md-4 .card-body .btn.btn-primary {
	margin-top: 0px;
	margin-bottom: 0px;
}
.card.col-md-4 .card-body .btn.btn-primary {
	padding-top: 0px;
}
.card.col-md-4 .card-body .btn.btn-primary {
	margin-top: 18px;
}
.card.col-md-4 .card-body .btn.btn-primary {
}
.container-fluid .container .btn.btn-sm {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: -9px;
}
.container .list-unstyled .btn.btn-sm {
	margin-top: -846px;
	margin-right: -7px;
	margin-left: 468px;
	margin-bottom: 1085px;
	text-decoration: underline;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 0;
}
.container-fluid .container h1 {
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 5px;
}
.container-fluid table {
	padding-right: 0px;
	min-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
}




body footer p {
	margin-left: 0px;
	padding-left: 50px;
}
.card.text-center.col-md-4.col-lg-12 .card-header .img-thumbnail.img-fluid {
	width: 75px;
}
.card-header a .img-thumbnail.img-fluid {
	padding-bottom: 0px;
}
.container-fluid .container .img-fluid {
	margin-right: 0px;
	margin-top: 35px;
	margin-left: 2px;
	padding-right: 8px;
	padding-top: 0px;
	padding-left: 0px;
	width: 2116px;
}
.container-fluid .container label {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 175px;
	padding-bottom: 0px;
}
.container-fluid .card.text-center.col-md-4.col-lg-12 .container-fluid {
	padding-left: 0px;
	top: 5px;
}
.container-fluid .container legend {
	margin-left: 185px;
	padding-left: 17px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
}
.container-fluid .container #form1 {
	padding-top: 0px;
	padding-bottom: 0px;
	top: 24px;
	bottom: 52px;
}
.container-fluid .container .img-fluid {
	position: relative;
}
.container-fluid .container .img-fluid {
	position: relative;
	color: #FFFFFF;
}
.container-fluid .container label {
	position: relative;
	padding-top: 186px;
	padding-bottom: 186px;
	padding-left: 186px;
	padding-right: 186px;
	top: 215px;
	color: #FFFFFF;
	background-position: -12% -2%;
}
.container-fluid .container label {
	position: absolute;
	padding-top: 0px;
	padding-bottom: 0px;
}
#hero {
}
#hero1 {
}
.container-fluid .container #hero1 {
	position: relative;
}
.container-fluid .container label {
	position: absolute;
	padding-top: 0px;
	padding-left: 250px;
	padding-bottom: 0px;
	margin-top: -76px;
}
.container-fluid .container input {
	position: absolute;
	margin-top: -1400px;
	width: 286px;
	margin-left: 385px;
}

